<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556764507064-83dvh62inn249nul0pqrpk818kqtjdmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556764507064-83dvh62inn249nul0pqrpk818kqtjdmn</string>
	<key>API_KEY</key>
	<string>AIzaSyA402jGRbc4MJQN4BVLUW4GkH6Te2lqqas</string>
	<key>GCM_SENDER_ID</key>
	<string>556764507064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anshuvij.UberClone</string>
	<key>PROJECT_ID</key>
	<string>uberclone-5860d</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-5860d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556764507064:ios:37e103fe692971e40cfd4d</string>
</dict>
</plist>